@font-face {
  font-family: 'yekan';
  src: url("../fonts/Yekan.eot");
  src: url("../fonts/Yekan.eot?#iefix") format("embedded-opentype"), url("../fonts/Yekan.woff") format("woff"), url("../fonts/Yekan.ttf") format("truetype"), url("../fonts/Yekan.svg#svgFontName") format("svg");
}
.clearfix::before,
form .form-group.form-group-multi::before,
.clearfix::after,
form .form-group.form-group-multi::after {
  display: table;
  content: ' ';
}
.clearfix::after,
form .form-group.form-group-multi::after {
  clear: both;
}
.form-control {
  box-shadow: none;
  border: 1px solid rgba(222,211,211,0.21);
}
.form-control:hover,
.form-control:focus {
  border-color: #ccc;
}
.form-control:focus {
  box-shadow: none;
}
a,
.fake-link {
  cursor: pointer;
  font-size: 120%;
}
.btn {
  border-radius: 0;
  font-size: 1.5em;
}
.btn[class*="btn-"] {
  color: #fff;
}
.carousel-control {
  background: none !important;
  text-shadow: none !important;
}
ol,
ul {
  padding: 0;
}
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > tfoot > tr,
.table > tbody > tr > thead > tr {
  vertical-align: middle;
  text-align: center;
}
input::-moz-inner-focus,
button::-moz-inner-focus {
  padding: 0;
  border: 0;
}
.btn {
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
}
.btn:focus,
.btn .focus {
  outline: 0 none;
}
.btn-green {
  background-color: #00b446;
  border: 1px solid #00b446;
}
.btn-green:hover,
.btn-green:focus {
  background-color: #007e31;
  border-color: #007e31;
}
.btn-red {
  background-color: #f01e50;
  border: 1px solid #f01e50;
}
.btn-red:hover,
.btn-red:focus {
  background-color: #b10c33;
  border-color: #b10c33;
}
@media (max-width: 500px) {
  .btn-group-st > * {
    width: calc(50% - 10px);
    margin: 5px 2.5px;
  }
}
input,
textarea,
.form-control {
  -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
  padding-right: 1em;
  padding-left: 1em;
  border: 1px solid #808080;
  resize: none;
  border-radius: 0;
  display: inline-block;
}
input:focus,
textarea:focus,
.form-control:focus {
  border: 1px solid #f01e50;
  box-shadow: none;
}
.input-ltr {
  direction: ltr;
}
.input-gray {
  background-color: #e5e5e5;
}
::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
:-moz-placeholder {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
::-moz-placeholder {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-right: 1.5em;
  padding-left: 1.5em;
}
.alert {
  background-color: #08c;
  border: 0.0725em solid #08c;
  border-radius: 0.0725em;
  color: #fff;
  margin-bottom: 1.5625em;
  padding: 0.25em 0.5em;
  position: relative;
  font-size: 0.9em;
  cursor: pointer;
}
.alert,
.alert.alert-success,
.alert.alert-green {
  background-color: #00d553;
  border-color: #00b446;
}
.alert.alert-danger,
.alert.alert-red {
  background-color: #f23561;
  border-color: #f01e50;
}
.alert.alert-warning,
.alert.alert-yellow {
  background-color: #ffd21a;
  border-color: #ffcd00;
}
.alert-lg {
  font-size: 1.25em;
}
.table {
  font-size: 120%;
}
@media (max-width: 500px) {
  .table {
    font-size: 100%;
  }
}
.form-condensed {
  padding-right: 5em;
  padding-left: 5em;
}
@media only screen and (max-width: 31.25em) {
  .form-condensed {
    padding-left: 1em;
    padding-right: 1em;
  }
}
form {
  margin-bottom: 0;
  padding: 1.25em 2.5em;
}
form .btn {
  margin-bottom: 0;
}
@media only screen and (max-width: 31.25em) {
  form {
    padding-right: 1em;
    padding-left: 1em;
  }
}
form .form-head {
  font-size: 4em;
  color: #808080;
  margin-bottom: 1.5em;
}
form .form-group {
  position: relative;
  margin-bottom: 1.5em;
}
form .form-group input[type="text"] {
  width: 100%;
  display: inline-block;
}
form .form-group.form-group-st label {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f01e50;
  color: #fff;
  margin: 0;
  line-height: 2;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
  max-height: 100%;
  padding-right: 2em;
  padding-left: 2em;
  font-size: 1.25em;
}
form .form-group.form-group-round label,
form .form-group.form-group-round input,
form .form-group.form-group-round textarea {
  border-radius: 20px;
}
form .form-group.form-group-multi > .multi-larger {
  width: 50%;
  height: 40px;
}
form .form-group.form-group-multi > .multi-larger.float-right {
  margin-left: 5%;
}
form .form-group.form-group-multi > .multi-larger.float-left {
  margin-right: 5%;
}
form .form-group.form-group-multi > .multi-smaller {
  width: 40%;
  height: 40px;
}
.status-waiting,
.status-open {
  color: #babd3c;
}
.status-inprogress {
  color: #b67b0b;
}
.status-replay {
  color: #803b63;
}
.status-transferring,
.status-paid,
.status-answered {
  color: #293e80;
}
.status-failed,
.status-cancelled {
  color: #802528;
}
.status-success {
  color: #3d8027;
}
.status-closed {
  color: #000;
}
body {
  font-family: yekan, sans-serif;
  font-size: 120%;
  direction: rtl;
  text-align: right;
  unicode-bidi: bidi-override;
  background-color: #e5e5e5;
}
.flex,
.navbar-top,
.list-records,
.list-records > li .record,
.footer .navbar-footer,
.footer .navbar-footer .navbar-footer-support ul,
.error-page,
#policy-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.flex.flex-reverse,
.navbar-top.flex-reverse,
.list-records.flex-reverse,
.list-records > li .record.flex-reverse,
.footer .navbar-footer.flex-reverse,
.footer .navbar-footer .navbar-footer-support ul.flex-reverse,
.error-page.flex-reverse,
#policy-content.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.text-en {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-ltr {
  direction: ltr;
}
.top-logo {
  font-size: 2em;
  margin-bottom: 20px;
}
.top-logo > img {
  max-width: 50%;
}
.center-item {
  padding: 1.5em;
  max-width: 500px;
  margin: 0 auto;
}
@media only screen and (max-width: 31.25em) {
  .center-item {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
.bg-white {
  background-color: #fff;
}
.img-block {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.img-rounded {
  border-radius: 50%;
}
.badge {
  display: inline-block;
  padding: 0.35em 0.75em;
  color: #e5e5e5;
}
.badge.badge-red,
.badge.badge-danger {
  background-color: #f01e50;
  color: #fff;
}
.badge.badge-rounded {
  border-radius: 50%;
}
.badge.badge-support {
  padding-right: 0.55em;
  padding-left: 0.55em;
}
.main-container {
  min-height: calc(100vh - 250px);
}
.dashboard-state {
  padding-top: 8em;
}
@media (max-width: 670px) {
  .dashboard-state {
    padding-top: 2em;
  }
}
.navbar-top {
  background-color: #fff;
  padding: 0.5em 2em;
  margin-bottom: 0;
}
.navbar-top > * {
  height: 80px;
  max-height: 80px;
}
@media (max-width: 560px) {
  .navbar-top > * {
    max-height: 500px;
    height: auto;
  }
}
.navbar-top .logo-top-navbar {
  height: 65px;
  height: calc(80px - 1em);
}
.navbar-top .user-area-avatar,
.navbar-top .user-area-name,
.navbar-top .user-quota-progress,
.navbar-top .user-quota-buy {
  margin-right: 10px;
  margin-left: 10px;
  float: right;
}
@media (max-width: 860px) {
  .navbar-top .user-area-avatar,
  .navbar-top .user-area-name,
  .navbar-top .user-quota-progress,
  .navbar-top .user-quota-buy {
    margin-left: 0;
  }
}
@media (max-width: 560px) {
  .navbar-top .user-area-avatar,
  .navbar-top .user-area-name,
  .navbar-top .user-quota-progress,
  .navbar-top .user-quota-buy {
    width: 50%;
    margin-right: 0 !important;
  }
}
.navbar-top .user-area-inner,
.navbar-top .user-quota-inner {
  float: right;
}
@media (max-width: 768px) {
  .navbar-top .user-area-inner {
    float: right;
  }
  .navbar-top .user-quota-inner {
    float: left;
  }
}
@media (max-width: 560px) {
  .navbar-top .user-area-inner,
  .navbar-top .user-quota-inner {
    float: none;
    margin-bottom: 20px;
  }
}
.navbar-top .user-quota .user-quota-buy {
  margin-top: 2em;
}
@media (max-width: 560px) {
  .navbar-top .user-quota .user-quota-buy {
    text-align: left;
    margin-top: 0;
  }
  .navbar-top .user-quota .user-quota-buy > a {
    font-size: 1em;
    position: relative;
    top: 5px;
  }
}
.navbar-top .user-quota .user-quota-progress {
  margin-top: 1.5em;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.25em;
  padding: 0;
  position: relative;
}
@media (max-width: 560px) {
  .navbar-top .user-quota .user-quota-progress {
    margin: 0 auto;
  }
}
.navbar-top .user-quota .user-quota-progress .bar {
  border: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.navbar-top .user-quota .user-quota-progress #info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  color: #272727;
  width: 100%;
}
.navbar-top .user-quota .user-quota-progress .quota-progress-bar {
  position: relative;
  width: 210px;
  height: 40px;
}
@media (max-width: 860px) {
  .navbar-top .user-quota .user-quota-progress .quota-progress-bar {
    width: 160px;
  }
}
@media (max-width: 560px) {
  .navbar-top .user-quota .user-quota-progress .quota-progress-bar {
    width: 140px;
  }
}
.navbar-top .user-quota .user-quota-progress .quota-progress-bar .info {
  width: 100%;
  height: 40px;
  border-radius: 0.5em;
}
.navbar-top .user-area .user-area-name {
  margin-top: 1.75em;
  font-size: 1.5em;
}
.navbar-top .user-area .user-area-avatar {
  position: relative;
  margin-top: 1em;
}
@media (max-width: 860px) {
  .navbar-top .user-area .user-area-avatar {
    margin-right: 0;
  }
}
@media (max-width: 560px) {
  .navbar-top .user-area .user-area-avatar {
    text-align: center;
  }
}
.navbar-top .user-area .user-area-avatar .user-area-logout {
  position: absolute;
  top: 0;
  right: -10px;
  padding: 5px 7px;
}
@media (max-width: 560px) {
  .navbar-top .user-area .user-area-avatar .user-area-logout {
    right: 50%;
    -webkit-transform: translate3d(40px, 0, 0);
            transform: translate3d(40px, 0, 0);
  }
}
.logo {
  text-align: left;
}
@media (max-width: 768px) {
  .logo {
    text-align: center;
  }
  .logo img {
    display: inline;
  }
}
@media (max-width: 560px) {
  .logo {
    margin-bottom: 20px;
  }
}
.top-links {
  border-bottom: 1px solid #fff;
  background-color: rgba(255,255,255,0.5);
}
@media (max-width: 1120px) {
  .top-links > div {
    padding: 0;
  }
}
.top-links .list-top-links {
  max-width: 1020px;
  display: block;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
.top-links .list-top-links > li {
  width: 14%;
  width: calc(100% / 7);
  text-align: center;
  float: right;
}
@media (max-width: 1120px) {
  .top-links .list-top-links > li {
    float: none;
    display: inline-block;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media (max-width: 560px) {
  .top-links .list-top-links > li {
    margin-bottom: 10px;
  }
}
.top-links .list-top-links > li > a,
.top-links .list-top-links > li .fake-link {
  text-decoration: none;
  color: #808080;
}
.top-links .list-top-links > li > a:hover,
.top-links .list-top-links > li .fake-link:hover,
.top-links .list-top-links > li > a:focus,
.top-links .list-top-links > li .fake-link:focus,
.top-links .list-top-links > li > a.active,
.top-links .list-top-links > li .fake-link.active {
  color: #08c;
  outline: 0 none;
}
.top-links .list-top-links.is-referral > li {
  width: 12.5%;
  width: calc(100% / 8);
}
@media (max-width: 1120px) {
  .top-links .list-top-links.is-referral > li {
    float: none;
    display: inline-block;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
  }
}
@media (max-width: 560px) {
  .top-links .list-top-links.is-referral > li {
    margin-bottom: 10px;
  }
}
.top-links .list-top-links.is-referral > li .dropdown-menu {
  box-shadow: none;
  left: -50%;
}
.top-links .list-top-links.is-referral > li .dropdown-menu > li {
  cursor: pointer;
  padding: 0 0.5em;
  text-align: right;
}
.main-section > * {
  padding-right: 20em;
  padding-left: 20em;
}
@media (max-width: 1200px) {
  .main-section > * {
    padding-right: 12em;
    padding-left: 12em;
  }
}
@media (max-width: 1200px) {
  .main-section > * {
    padding-right: 6em;
    padding-left: 6em;
  }
}
@media (max-width: 992px) {
  .main-section > * {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.search-bar .form-control {
  border-radius: 0;
  font-weight: 700;
}
.search-bar .input-group-btn {
  font-size: inherit;
}
.search-bar .input-group-btn .btn-search {
  background-color: #f01e50;
  padding-top: 8.75px;
  padding-bottom: 8.75px;
  min-width: 125px;
  height: 46px;
}
@media (max-width: 500px) {
  .search-bar .input-group-btn .btn-search {
    min-width: auto;
  }
}
@media (max-width: 500px) {
  .input-lg {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .select-item {
    float: none;
    width: auto;
    display: inline-block;
    margin: 0 5px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 670px) {
  .select-item {
    width: 310px;
    width: calc(50% - 20px);
    margin: 0 10px 10px 0;
    float: right;
  }
}
@media (max-width: 992px) {
  .searchbar-item {
    padding-right: 5px;
    padding-left: 0;
  }
}
.searchbar-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  -webkit-transition: background-color 0.3s ease-out;
          transition: background-color 0.3s ease-out;
  cursor: pointer;
}
.searchbar-select:hover {
  background-color: #e5e5e5;
}
.list-records {
  padding: 0;
}
.list-records > li {
  padding-bottom: 1em;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .list-records > li {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .list-records > li {
    padding-right: 0;
    padding-left: 0;
  }
}
.list-records > li .record {
  background-color: #fff;
  padding: 1em;
  height: 100%;
  min-height: 200px;
}
@media (max-width: 992px) {
  .list-records > li .record {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
    min-height: 10px;
  }
}
.list-records > li .record .record-details {
  padding: 0 0.5em;
  width: 66.666666667%;
  width: calc((100% / 12) * 8);
}
@media (max-width: 992px) {
  .list-records > li .record .record-details {
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
  }
}
.list-records > li .record .record-details .record-title {
  font-size: 1.5em;
}
.list-records > li .record .record-details .record-title,
.list-records > li .record .record-details .record-desc {
  margin: 0.5em auto;
}
.list-records > li .record .record-details .record-link {
  font-size: 1em;
  position: absolute;
  bottom: 2em;
  left: 2em;
}
.list-records > li .record .record-thumb {
  padding: 0 0.5em;
  width: 33.333333333%;
  width: calc((100% / 12) * 4);
}
@media (max-width: 992px) {
  .list-records > li .record .record-thumb {
    width: 100%;
  }
}
.list-records > li .record .record-thumb img {
  margin-top: 0.5em;
  width: 145px;
  max-width: 100%;
  height: auto;
  max-height: 145px;
  display: block;
  float: right;
  border: 1px solid #e5e5e5;
  padding: 0.5em;
}
@media (max-width: 992px) {
  .list-records > li .record .record-thumb img {
    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 800px) {
  .footer {
    position: relative;
  }
}
.footer .navbar-footer {
  margin-bottom: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #fff;
  background-color: rgba(255,255,255,0.3);
}
@media (max-width: 768px) {
  .footer .navbar-footer .copyright {
    margin-top: 20px;
  }
}
.footer .navbar-footer .navbar-footer-support ul {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
@media (max-width: 768px) {
  .footer .navbar-footer .navbar-footer-support ul {
    display: block;
    padding-top: 20px;
  }
}
.footer .navbar-footer .navbar-footer-support ul > li .support-item {
  border-radius: 50%;
  background-color: #272727;
  color: #fff;
  width: 40px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.footer .navbar-footer .carousel-control {
  color: #272727;
}
.footer .navbar-footer .carousel-inner {
  padding-right: 0;
  margin: 0;
}
.footer .navbar-footer .carousel-inner .item {
  text-align: center;
}
.list-ticket {
  margin-top: 2em;
}
.list-ticket > li {
  width: 100%;
  display: block;
  padding: 1em;
  font-size: 1.25em;
}
.list-ticket > li > div {
  background-color: #fff;
  height: 100%;
  padding: 1em;
}
.error-page {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
#policy-content {
  position: absolute;
  top: -10em;
  right: -15em;
  background-color: #ededed;
  color: $$kk_black;
  padding: 1.5em;
  display: none;
}
#policy-content .close {
  color: #272727;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  font-size: 1em;
}
@media (max-width: 700px) {
  #policy-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #policy-content .close {
    font-size: 2em;
  }
}
#policy-trigger {
  position: absolute;
  top: -0.5em;
  right: -2em;
}
#policy-trigger > button {
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 0.25em 0.75em;
}
@media (max-width: 768px) {
  .list-shop li {
    margin-bottom: 0.5em;
  }
}
#file-progress {
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  position: relative;
  background-color: #dadada;
  border: 1px solid #808080;
  padding: 0.2em;
}
#file-progress .bar {
  -webkit-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
  height: 30px;
  background-color: #08c;
}
#file-progress .info {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  font-size: 1.25em;
}
#file-progress .info > a {
  display: block;
  position: absolute;
  top: -2px;
  left: -75px;
  padding: 0 0.5em;
  text-decoration: none;
  color: #f01e50;
}
[data-tab-holder] [data-tab-role] {
  display: none;
}
[data-tab-holder] [data-tab-role].active {
  display: block;
}
[data-collapse-holder] [data-collapse-role] {
  display: none;
}
[data-collapse-holder] [data-collapse-role].active {
  display: block;
}
